.App {
  text-align: center;
  min-width: 1500px;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
  vertical-align: middle;
  padding-right: 20px;
}

.App-header {
  background-color: #000000;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 40px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
  bottom: 0;
  left:0;
  width: 100%;
}

.App-content {
  min-width: 1500px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.check-button {
  color: whitesmoke;
  background-color: cadetblue;
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  margin-left: 4px;
  box-shadow: 3px 5px 5px #cccccc;
}

.check-button:hover {
  color: lightgray;
  background-color: rgb(0, 175, 175);
  box-shadow: 1px 1px 1px #cccccc;
}

.react-spinner {
  height: 100px !important;
  width: 100px !important;
  /* background-color: cadetblue; */
  /* color: cadetblue; */
}

.react-spinner_bar {
  background-color: cadetblue !important;
}

.header-content {
  vertical-align: middle;
  line-height: 50px;
}

.header-title {
  font-size: 30px;
}

.clearfix:after { 
  content: "."; 
  visibility: hidden; 
  display: block; 
  height: 0; 
  clear: both;
}
