header, footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #333;
}

main {
  width: 100%;
  min-height: calc(100% - 100px);
  background-image: url('../images/night_picture.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align:center;
}

.maintopic {
  font-family: Black Ops One; font-size: 100px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  line-height: 0px;
}

.topic {
  text-overflow: ellipsis;
  font-family: Black Ops One; font-size: 100px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
  font-size: 40px;
  line-height: 0px;
}

.textcolor {
  color:#89ff00;
}