.table {
    color: black;
    display: inline-block;
}

.table-part {
    border: 1px solid rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 2px;
}

.table-chair {
    height: 7px;
    width: 45px;
    background-color: darkcyan;
    border: 1px solid black;
    margin-bottom: -4px;
}

.table-normal {
    width: 85px;
    height: 70px;
    line-height: 70px;
}

.upside-down {
    transform: rotate(180deg);
}

.table-group-label {
    position: absolute;
    left: 265px;
    top: 72px;
    z-index: 10;
    background-color: aliceblue;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 3px;
}

.table-group-content {
    position: relative;
}

.table-group-content-left {
    transform: rotate(-30deg);
}

.table-group-content-right {
    transform: rotate(210deg);
}

.table-group-content-vertical {
    transform: rotate(-90deg);
    margin-top: 250px;
}

.table-group {
    display: inline-block;
    padding-top: 80px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.table-group-normal {
    width: 470px;
    height: 270px;
}

.table-group-narrow {
    width: 470px;
    height: 270px;
}

.food-table {
    color: black;
    border: 1px solid rgba(0,0,0,0.2);
    background-color: silver;
    display: inline-block;
    border-radius: 2px;
    width: 400px;
    height: 130px;
    line-height: 130px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 400px;
}

.table button {
    border: none;
    padding: 0px;
}

.table-free {
    background-color: lightgreen;
}

.table-booked {
    background-color: lightcoral;
}

.table-booked:hover {
    background-color: lightcoral !important;
}

.table-button:hover {
    background-color: seagreen;
    color: white !important;
}

.table-booking {
    background-color: steelblue;
    color: whitesmoke;
    font-weight: bold;
}

.table-booking:hover {
    background-color: steelblue;
    color: whitesmoke;
    font-weight: bold;
}

.table-rowstart {
    float: left;
    width: 85px;
    height: 125px;
    transform: rotate(-90deg);
    padding-top: 60px;
}
